h1 {
  /* font-family: "Silkscreen","Courier New", monospace; */
  font-size: 80px;
  color:black;
  background-color: green; /*backup  colour*/
  background-color: #d2e6f7;
  text-align: center;
}

h2 {
  font-size: 30px;
  border-color: black;
}

p {
  font-size: 15px;
}

body {
  background: white;
}

aside{
  text-align: right;
  border: 4px solid black;
  outline: #dabff2 solid 5px;
  margin: fixed;
  width: 50%;
  padding: 20px;
}

table {
  table-layout:fixed;
  width:100%;
}


table,th,td {
  border:2px solid black;
  border-collapse: collapse;
}


tr:hover {
  background-color: blue
}

th {
  font-size: 19px;
  text-decoration-line: underline;
  /*height:10%;*/
}

/*1st column of the table*/
td:nth-child(1), th:nth-child(1){
  background-color: #d2e6f7;
  width:10%;
}

/*2nd column of the table*/
td:nth-child(2), th:nth-child(2){
  background-color: #e0f7cb;
  width:45%;
}

/*3rd column of the table*/
td:nth-child(3), th:nth-child(3){
  background-color: #dabff2;
  width:45%;
}

h3 {
  font-size: 45px;
  background-color: #000000;
  color: white;
}

h4 {
  font-size: 25px;
  color: black;
}